<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.shoppingserviceuser.mapper.AreasMapper">
  <resultMap id="BaseResultMap" type="com.ywh.shoppingserviceuserapi.pojo.Areas">
    <!--@mbg.generated-->
    <!--@Table tb_areas-->
    <id column="areaid" jdbcType="VARCHAR" property="areaid" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="cityid" jdbcType="VARCHAR" property="cityid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    areaid, area, cityid
  </sql>
</mapper>