<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.shoppingserviceorder.mapper.CategoryReportMapper">
  <resultMap id="BaseResultMap" type="com.ywh.shoppingserviceorderapi.pojo.CategoryReport">
    <!--@mbg.generated-->
    <!--@Table tb_category_report-->
    <id column="category_id1" jdbcType="INTEGER" property="categoryId1" />
    <id column="category_id2" jdbcType="INTEGER" property="categoryId2" />
    <id column="category_id3" jdbcType="INTEGER" property="categoryId3" />
    <id column="count_date" jdbcType="DATE" property="countDate" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    category_id1, category_id2, category_id3, count_date, num, money, create_time, update_time,
    is_del
  </sql>
</mapper>
