<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywh.shoppingserviceorder.mapper.ReturnCauseMapper">
  <resultMap id="BaseResultMap" type="com.ywh.shoppingserviceorderapi.pojo.ReturnCause">
    <!--@mbg.generated-->
    <!--@Table tb_return_cause-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cause" jdbcType="VARCHAR" property="cause" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, cause, seq, `status`, create_time, update_time, is_del
  </sql>
</mapper>
